{#
/**
 * This file is part of WebCreator plugin for FacturaScripts
 * Copyright (C) 2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * @author Daniel Fernández Giménez <hola@danielfg.es>
 */
#}
{% extends "WebCreator/Private/PortalPanelTemplate.html.twig" %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-sm">
                <div class="media mb-3">
                    <a href="https://es.gravatar.com/" target="_blank">
                        <img src="{{ fsc.contact.gravatar() }}" class="mr-3" alt="{{ fsc.contact.alias() }}"/>
                    </a>
                    <div class="media-body">
                        <h1 class="h3 mb-0">
                            {{ fsc.contact.email }}
                            {% if fsc.contact.verificado %}
                                <i class="fas fa-check-double"
                                   title="{{ i18n.customTrans(fsc.webPage.filelang, 'verified') }}"></i>
                            {% endif %}
                        </h1>
                        <p class="text-muted">
                            {{ i18n.customTrans(fsc.webPage.filelang, 'name') }}: {{ fsc.contact.fullName() }},
                            {{ i18n.customTrans(fsc.webPage.filelang, 'created') }}: {{ fsc.contact.fechaalta }}
                        </p>
                    </div>
                </div>
            </div>

            {% if fsc.user or fsc.contact %}
                <div class="col-sm-2 text-right">
                    <form action="{{ asset('Me') }}" method="post">
                        <button type="submit" name="action" value="logout" class="btn btn-danger"
                                title="{{ i18n.customTrans(fsc.webPage.filelang, 'logout') }}">
                            <i class="fas fa-door-open"></i>
                            {{ i18n.customTrans(fsc.webPage.filelang, 'exit') }}
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}