{#
/**
 * This file is part of WebCreator plugin for FacturaScripts
 * Copyright (C) 2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * @author Daniel Fernández Giménez <hola@danielfg.es>
 */
#}
<form method="post" action="{{ fsc.url() }}">
    <input type="hidden" name="idcontacto" value="{{ fsc.contact.idcontacto }}">
    <input type="hidden" name="action" value="privacy">
    <div class="jumbotron">
        <h2 class="display-4">{{ i18n.trans('i-accept-privacy-policy') }}</h2>
        <p class="lead"></p>
        <hr class="my-4">
        <p>{{ i18n.trans('i-accept-privacy-policy-p') }}</p>
        <a href="{{ asset(fsc.privacyPage.url('public')) }}" target="_blank" class="btn btn-light mt-2">
            {{ i18n.trans('read-more') }}
        </a>
        <button type="submit" class="btn btn-primary mt-2">
            {{ i18n.trans('accept') }}
        </button>
    </div>
</form>