{% extends "WebCreator/Public/Login.html.twig" %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: #ebeeef;
        }

        .login-form {
            width: 100%;
            max-width: 600px;
        }

        .strike {
            display: block;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            padding: 20px;
        }

        .strike > span {
            position: relative;
            display: inline-block;
            color: gray;
        }

        .strike > span:before,
        .strike > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: silver;
        }

        .strike > span:before {
            right: 100%;
            margin-right: 15px;
        }

        .strike > span:after {
            left: 100%;
            margin-left: 15px;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="d-flex flex-column align-items-center justify-content-center w-100 vh-100">
        <div class="login-form">
            <h1 class="h3">{{ fsc.title|raw }}</h1>
            <div class="card shadow mb-5">
                {% set idforgotimage = appSettings.get('webcreator', 'idforgotimage', '') %}
                {% set imgForgot = idforgotimage != '' ? fsc.pageComposer.getAttachFile(idforgotimage) : 'Dinamic/Assets/Images/bg-login-1.jpg' %}
                <img src="{{ webSettings.siteurl ~ asset(imgForgot) }}" class="card-img-top" alt="login">
                <div class="card-body">
                    <form action="{{ fsc.url() }}" method="post">
                        <input type="hidden" name="action" value="forgot"/>
                        <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
                        <div class="form-group row mb-0">
                            <div class="col-sm-9 offset-sm-3">
                                <div class="strike">
                                    <span>{{ i18n.trans('password-recovery') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('email') }}
                            </label>
                            <div class="col-sm-9">
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                       placeholder="{{ i18n.trans('email') }}" value="{{ fsc.emailContact }}"
                                       maxlength="100" required autofocus>
                                <div class="mt-4 mb-4">
                                    {% include 'WebCreator/Master/Messages.html.twig' %}
                                </div>
                                <button type="submit" class="btn btn-block btn-primary mb-3">
                                    {{ i18n.trans('send') }}
                                </button>
                                <p class="text-muted text-justify mb-4">{{ i18n.trans('password-recovery-p') }}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/MeLogin" class="btn btn-block btn-link">{{ i18n.trans('login') }}</a>
                </div>
            </div>
            <p class="text-center mt-5">{{ webCopyright }}</p>
        </div>
    </main>
{% endblock %}