{% import "WebCreator/Master/webMacros.html.twig" as webMacros %}

{# Website config #}
{% set pageData = fsc.pageComposer.getPageData(fsc.webPage) %}
{% set webSettings = pageData.settings %}
{% set webHeader = pageData.header %}
{% set webFooter = pageData.footer %}
{% set webSidebar = pageData.sidebar %}
{% set webPage = pageData.page %}
{% set webIncludes = fsc.pageComposer.includeView(template) %}
{% set webUrl = appSettings.get('webcreator', 'siteurl', '') %}
{% set templateVars = {
    'i18n': i18n,
    'appSettings': appSettings,
    'assetManager': assetManager,
    'controllerName': controllerName,
    'debugBarRender': debugBarRender,
    'fsc': fsc,
    'menuManager': menuManager,
    'template': template,
    'webSettings': webSettings,
    'webHeader': webHeader,
    'webFooter': webFooter,
    'webSidebar': webSidebar}
%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ webPage.weblang }}" xml:lang="{{ webPage.weblang }}">
<head>
    {% block head %}

        {{ webMacros.includeView(webIncludes, 'headBefore', templateVars) }}

        {% block meta %}
            {{ webMacros.includeView(webIncludes, 'metaBefore', templateVars) }}

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <title>{{ fsc.title|raw }}</title>
            <meta name="description" content="{{ fsc.description|raw }}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta name="generator" content="FacturaScripts"/>
            <meta name="robots" content="{{ webPage.noindex ? 'noindex' : 'index' }}"/>
            <link rel="canonical" href="{{ fsc.canonicalUrl }}"/>
            {{ fsc.pageComposer.getGoogleFonts()|raw }}

            {{ webMacros.includeView(webIncludes, 'metaAfter', templateVars) }}

            {# Add global Meta #}
            {{ webSettings.globalmeta|raw }}

            {# Add individual Meta page #}
            {{ webPage.pagemeta|raw }}
        {% endblock %}

        {% block icons %}
            {{ webMacros.includeView(webIncludes, 'iconsBefore', templateVars) }}
            <link rel="shortcut icon"
                  href="{{ (webSettings.idfavicon) ? fsc.pageComposer.getAttachFile(webSettings.idfavicon) : asset('Dinamic/Assets/Images/favicon.svg') }}"/>
            <link rel="apple-touch-icon" sizes="180x180"
                  href="{{ (webSettings.idfavicon) ? fsc.pageComposer.getAttachFile(webSettings.idfavicon) : asset('Dinamic/Assets/Images/favicon.svg') }}"/>
            {{ webMacros.includeView(webIncludes, 'iconsafter', templateVars) }}
        {% endblock %}

        {% block css %}
            {{ webMacros.includeView(webIncludes, 'cssBefore', templateVars) }}

            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/custom.css') }}"/>

            {{ debugBarRender.renderHead()|raw }}

            {# Adds custom CSS assets #}
            {% for css in assetManager.get('css') %}
                <link rel="stylesheet" href="{{ css }}"/>
            {% endfor %}

            <style>
                body, html {
                    overflow-x: hidden;
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fontdefault) }}', 'serif';
                }

                a {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fontlink) }}', 'serif';
                    color: {{ webSettings.fontlinkcolor }};
                }

                a:hover {
                    color: {{ webSettings.fontlinkcolorhover }};
                }

                p {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fontp) }}', 'serif';
                    color: {{ webSettings.fontpcolor }};
                }

                h1 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth1) }}', 'serif';
                    color: {{ webSettings.fonth1color }};
                }

                h2 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth2) }}', 'serif';
                    color: {{ webSettings.fonth2color }};
                }

                h3 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth3) }}', 'serif';
                    color: {{ webSettings.fonth3color }};
                }

                h4 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth4) }}', 'serif';
                    color: {{ webSettings.fonth4color }};
                }

                h5 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth5) }}', 'serif';
                    color: {{ webSettings.fonth5color }};
                }

                h6 {
                    font-family: '{{ fsc.pageComposer.getFont(webSettings.fonth6) }}', 'serif';
                    color: {{ webSettings.fonth6color }};
                }

                .header-main,
                .header-main .content,
                .header-main .content .d-flex {
                    min-height: {{ webHeader.properties.headermainrowheight }}px;
                }

                .header-main {
                {% if webHeader.properties.headermainbackgroundimage %} background-image: url('{{ webSettings.siteurl ~ fsc.pageComposer.getAttachFile(webHeader.properties.headermainbackgroundimage) }}');
                    background-repeat: {{ webHeader.properties.headermainbackgroundimagerepeat }};
                    background-size: {{ webHeader.properties.headermainbackgroundimagesize }};
                    background-attachment: {{ webHeader.properties.headermainbackgroundimageattachment }};
                    background-position: {{ webHeader.properties.headermainbackgroundimageposition }};
                {% endif %}
                }

                .header-main-border-top {
                    border-top-width: {{ webHeader.properties.headermainbordertopwidth }}px;
                    border-top-color: {{ webHeader.properties.headermainbordertopcolor }};
                    border-top-style: {{ webHeader.properties.headermainbordertopstyle }};
                }

                .header-main-border-bottom {
                    border-bottom-width: {{ webHeader.properties.headermainborderbottomwidth }}px;
                    border-bottom-color: {{ webHeader.properties.headermainborderbottomcolor }};
                    border-bottom-style: {{ webHeader.properties.headermainborderbottomstyle }};
                }

                .shadow-bottom-inside {
                    -moz-box-shadow: inset 0 -5px 5px -5px #e5e5e5;
                    -webkit-box-shadow: inset 0 -5px 5px -5px #e5e5e5;
                    box-shadow: inset 0 -5px 5px -5px #e5e5e5;
                }

                .shadow-bottom-outside {
                    -moz-box-shadow: 0 1px 5px 1px #e5e5e5;
                    -webkit-box-shadow: 0 1px 5px 1px #e5e5e5;
                    box-shadow: 0 1px 5px 1px #e5e5e5;
                }

                .page-title {
                {% if webSettings.titlebackgroundimage %} background-image: url('{{ webSettings.siteurl ~ fsc.pageComposer.getAttachFile(webSettings.titlebackgroundimage) }}');
                    background-repeat: {{ webSettings.titleimagerepeat }};
                    background-size: {{ webSettings.titleimagesize }};
                    background-attachment: {{ webSettings.titleimageattachment }};
                    background-position: {{ webSettings.titleimageposition }};
                {% endif %}
                }

                .footer-shadow-bottom-outside {
                    -moz-box-shadow: 0 -2px 4px -1px #e5e5e5;
                    -webkit-box-shadow: 0 -2px 4px -1px #e5e5e5;
                    box-shadow: 0 -2px 4px -1px #e5e5e5;
                }

                footer {
                {% if webFooter.properties.footerbackgroundimage %} background-image: url('{{ webSettings.siteurl ~ fsc.pageComposer.getAttachFile(webFooter.properties.footerbackgroundimage) }}');
                    background-repeat: {{ webFooter.properties.footerbackgroundimagerepeat }};
                    background-size: {{ webFooter.properties.footerbackgroundimagesize }};
                    background-attachment: {{ webFooter.properties.footerbackgroundimageattachment }};
                    background-position: {{ webFooter.properties.footerbackgroundimageposition }};
                {% endif %}
                }

                .footer-top-border-top {
                    border-top-width: {{ webFooter.properties.footertopbordertopwidth }}px;
                    border-top-color: {{ webFooter.properties.footertopbordertopcolor }};
                    border-top-style: {{ webFooter.properties.footertopbordertopstyle }};
                }

                .footer-top-border-bottom {
                    border-bottom-width: {{ webFooter.properties.footertopborderbottomwidth }}px;
                    border-bottom-color: {{ webFooter.properties.footertopborderbottomcolor }};
                    border-bottom-style: {{ webFooter.properties.footertopborderbottomstyle }};
                }

                .footer-main-border-top {
                    border-top-width: {{ webFooter.properties.footermainbordertopwidth }}px;
                    border-top-color: {{ webFooter.properties.footermainbordertopcolor }};
                    border-top-style: {{ webFooter.properties.footermainbordertopstyle }};
                }

                .footer-main-border-bottom {
                    border-bottom-width: {{ webFooter.properties.footermainborderbottomwidth }}px;
                    border-bottom-color: {{ webFooter.properties.footermainborderbottomcolor }};
                    border-bottom-style: {{ webFooter.properties.footermainborderbottomstyle }};
                }

                .footer-bottom-border-top {
                    border-top-width: {{ webFooter.properties.footerbottombordertopwidth }}px;
                    border-top-color: {{ webFooter.properties.footerbottombordertopcolor }};
                    border-top-style: {{ webFooter.properties.footerbottombordertopstyle }};
                }

                .footer-bottom-border-bottom {
                    border-bottom-width: {{ webFooter.properties.footerbottomborderbottomwidth }}px;
                    border-bottom-color: {{ webFooter.properties.footerbottomborderbottomcolor }};
                    border-bottom-style: {{ webFooter.properties.footerbottomborderbottomstyle }};
                }

                /* Extra small devices (portrait phones, less than 576px) */
                @media (max-width: 575.98px) {
                }

                /* Small devices (landscape phones, less than 768px) */
                @media (max-width: 767.98px) {
                }

                /* Medium devices (tablets, less than 992px) */
                @media (max-width: 991.98px) {
                    .header-main,
                    .header-main .content,
                    .header-main .content .d-flex {
                        min-height: auto;
                    }
                }

                /* Large devices (desktops, less than 1200px) */
                @media (max-width: 1199.98px) {
                }

                /*
                Extra large devices (large desktops)
                No media query since the extra-large breakpoint has no upper bound on its width
                */
            </style>

            {{ webMacros.includeView(webIncludes, 'cssAfter', templateVars) }}

            {# Add global CSS #}
            {{ fsc.pageComposer.regexCSS(webSettings.globalcss)|raw }}

            {# Add individual CSS page #}
            {{ fsc.pageComposer.regexCSS(webPage.pagecss)|raw }}
        {% endblock %}

        {% block javascriptHead %}
            {{ webMacros.includeView(webIncludes, 'javascriptHeadBefore', templateVars) }}

            {# Add global JS #}
            {{ fsc.pageComposer.regexJS(webSettings.globaljshead)|raw }}

            {# Add individual JS page #}
            {{ fsc.pageComposer.regexJS(webPage.pagejshead)|raw }}

            {{ webMacros.includeView(webIncludes, 'javascriptHeadAfter', templateVars) }}
        {% endblock %}
    {% endblock %}
</head>

<body id="{{ webPage.idbody }}" class="{{ webPage.classbody }}">
{% block body %}
    {{ webMacros.includeView(webIncludes, 'bodyBefore', templateVars) }}

    {% block header %}
        {{ webMacros.includeView(webIncludes, 'headerBefore', templateVars) }}

        {% if webPage.idheader is null or webPage.idheader == -1 and webSettings.headerdefault > 0 or webPage.idheader > 0 %}
            {% include['WebCreator/Public/Header' ~ webHeader.properties.headerlayout ~ '.html.twig', 'WebCreator/Public/Header01.html.twig'] %}
        {% endif %}

        {{ webMacros.includeView(webIncludes, 'headerAfter', templateVars) }}
    {% endblock %}

{% block pageTitle %}
    {{ webMacros.includeView(webIncludes, 'pageTitleBefore', templateVars) }}

    {% if webPage.pagetitle == -1 and webSettings.pagetitle > 0 or webPage.pagetitle > 0 or webPage.pagetitle is null and webSettings.pagetitle > 0 %}
    <div class="row page-title">
        <div class="{{ webSettings.titlewidth }}">
            <div class="row">
                <div class="col-12 py-5 text-{{ webSettings.titlestyle }} color-{{ webSettings.titlecolor }}">
                    <{{ webSettings.titletag }} class="pl-2 pl-lg-0">{{ fsc.title|raw }}</{{ webSettings.titletag }}>
                {% if (webSettings.titlebreadcrumbs == 1) %}
                    <div class="breadcrumbs">
                        {{ fsc.pageComposer.getBreadcrumbs(webPage)|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}

    {{ webMacros.includeView(webIncludes, 'pageTitleAfter', templateVars) }}
{% endblock %}

{% block content %}
    {{ webMacros.includeView(webIncludes, 'contentBefore', templateVars) }}

    <div class="body-content {{ (webPage.pagewidth == -1 or webPage.pagewidth is not defined) ? webSettings.sitewidth : webPage.pagewidth }}">
        <div class="row">
            {% block messages %}
                {{ webMacros.includeView(webIncludes, 'messagesBefore', templateVars) }}

                <div class="container col-12">
                    {% include 'WebCreator/Master/Messages.html.twig' %}
                </div>

                {{ webMacros.includeView(webIncludes, 'messagesAfter', templateVars) }}
            {% endblock %}

            {% block wrapper %}
                {{ webMacros.includeView(webIncludes, 'wrapperBefore', templateVars) }}

                {% block sidebar %}
                    {{ webMacros.includeView(webIncludes, 'sidebarBefore', templateVars) }}

                    {% if webPage.idsidebar == -1 and webSettings.sidebardefault > 0 or webPage.idsidebar > 0 or webPage.idsidebar is null and webSettings.sidebardefault > 0 %}
                        <aside class="py-5 {{ (webPage.idsidebar == -1 and webSettings.sidebarposition == 1 or webPage.idsidebar > 0 and webPage.sidebarposition == 1) ? 'order-1' : (webPage.idsidebar == -1 and webSettings.sidebarposition == 2 or webPage.idsidebar > 0 and webPage.sidebarposition == 2) ? 'order-3' : '' }} col-12 col-lg-4">
                            {{ webSidebar.content|raw }}
                        </aside>
                    {% endif %}

                    {{ webMacros.includeView(webIncludes, 'sidebarAfter', templateVars) }}
                {% endblock %}

                {% block main %}
                    {{ webMacros.includeView(webIncludes, 'mainBefore', templateVars) }}

                    <main class="py-5 order-2 col-12 {{ (webPage.idsidebar == -1 and webSettings.sidebardefault > 0 or webPage.idsidebar > 0) ? 'col-lg-8' : '' }}">
                        {{ webPage.content|raw }}
                    </main>

                    {{ webMacros.includeView(webIncludes, 'mainAfter', templateVars) }}
                {% endblock %}

                {{ webMacros.includeView(webIncludes, 'wrapperAfter', templateVars) }}
            {% endblock %}
        </div>
    </div>

    {{ webMacros.includeView(webIncludes, 'contentAfter', templateVars) }}
{% endblock %}

{% block footer %}
    {{ webMacros.includeView(webIncludes, 'footerBefore', templateVars) }}

    {% if webPage.idfooter is null or webPage.idfooter == -1 and webSettings.footerdefault > 0 or webPage.idfooter > 0 %}
    <footer id="{{ webFooter.cssid }}" class="{{ webFooter.cssclass }} {{ (webFooter.properties.footershadow) ? 'footer-shadow-bottom-outside' : '' }}">
        {% if webFooter.content.footer5001 != '' or webFooter.content.footer5002 != '' or webFooter.content.footer5003 != '' %}
            <div class="footer-top {{ (webFooter.properties.footertopbordertopwidth > 0 and webFooter.properties.footertopbordertopcontainer == 'fullwidth') ? 'footer-top-border-top' : '' }} {{ (webFooter.properties.footertopborderbottomwidth > 0 and webFooter.properties.footertopborderbottomcontainer == 'fullwidth') ? 'footer-top-border-bottom' : '' }}">
                <div class="content py-4 {{ webFooter.properties.footerwidth }} {{ (webFooter.properties.footertopbordertopwidth > 0 and webFooter.properties.footertopbordertopcontainer == 'boxed') ? 'footer-top-border-top' : '' }} {{ (webFooter.properties.footertopborderbottomwidth > 0 and webFooter.properties.footertopborderbottomcontainer == 'boxed') ? 'footer-top-border-bottom' : '' }}">
                    <div class="d-flex justify-content-between">
                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer5001|raw }}
                        </div>

                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footertoprowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer5002|raw }}
                        </div>

                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footertoprowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer5003|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% set footermain = true %}
        {% for key,value in webFooter.content %}
            {% if 'footer' ~ webFooter.properties.footerlayout in key and value == '' %}
                {% set footermain = false %}
            {% endif %}
        {% endfor %}

        {% if footermain %}
            <div class="footer-main {{ (webFooter.properties.footermainbordertopwidth > 0 and webFooter.properties.footermainbordertopcontainer == 'fullwidth') ? 'footer-main-border-top' : '' }} {{ (webFooter.properties.footermainborderbottomwidth > 0 and webFooter.properties.footermainborderbottomcontainer == 'fullwidth') ? 'footer-main-border-bottom' : '' }}">
                <div class="content py-4 {{ webFooter.properties.footerwidth }} {{ (webFooter.properties.footermainbordertopwidth > 0 and webFooter.properties.footermainbordertopcontainer == 'boxed') ? 'footer-main-border-top' : '' }} {{ (webFooter.properties.footermainborderbottomwidth > 0 and webFooter.properties.footermainborderbottomcontainer == 'boxed') ? 'footer-main-border-bottom' : '' }}">
                    {% include['WebCreator/Public/Footer' ~ webFooter.properties.footerlayout ~ '.html.twig', 'WebCreator/Public/Footer01.html.twig'] %}
                </div>
            </div>
        {% endif %}

        {% if webFooter.content.footer6001 != '' or webFooter.content.footer6002 != '' or webFooter.content.footer6003 != '' %}
            <div class="footer-bottom {{ (webFooter.properties.footerbottombordertopwidth > 0 and webFooter.properties.footerbottombordertopcontainer == 'fullwidth') ? 'footer-bottom-border-top' : '' }} {{ (webFooter.properties.footerbottomborderbottomwidth > 0 and webFooter.properties.footerbottomborderbottomcontainer == 'fullwidth') ? 'footer-bottom-border-bottom' : '' }}">
                <div class="content py-4 {{ webFooter.properties.footerwidth }} {{ (webFooter.properties.footerbottombordertopwidth > 0 and webFooter.properties.footerbottombordertopcontainer == 'boxed') ? 'footer-bottom-border-top' : '' }} {{ (webFooter.properties.footerbottomborderbottomwidth > 0 and webFooter.properties.footerbottomborderbottomcontainer == 'boxed') ? 'footer-bottom-border-bottom' : '' }}">
                    <div class="d-flex justify-content-between">
                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footerbottomrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer6001|raw }}
                        </div>

                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footerbottomrowflexlayout == 0) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer6002|raw }}
                        </div>

                        <div class="d-none d-lg-block align-self-center {{ (webFooter.properties.footerbottomrowflexlayout == 1) ? 'flex-grow-1' : '' }}">
                            {{ webFooter.content.footer6003|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </footer>
    {% endif %}

    {{ webMacros.includeView(webIncludes, 'footerAfter', templateVars) }}
{% endblock %}

{% block javascriptFooter %}
    {{ webMacros.includeView(webIncludes, 'javascriptFooterBefore', templateVars) }}

    <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootbox/dist/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootbox/dist/bootbox.locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Dinamic/Assets/JS/Custom.js') }}"></script>

    {# Adds custom JS assets #}
    {% for js in assetManager.get('js') %}
    <script src="{{ js }}"></script>
    {% endfor %}

    <script>
        $(document).ready(function () {
            function headerBackgroundColor() {
                let color = '{{ webHeader.properties.generalbackgroundcolor }}';
                let opacity = '{{ webHeader.properties.generalbackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('header').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function headerMainBackgroundColor() {
                let color = '{{ webHeader.properties.headermainbackgroundcolor }}';
                let opacity = '{{ webHeader.properties.headermainbackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('.header-main').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function pageTitleBackgroundColor() {
                let color = '{{ webSettings.titlebackgroundcolor }}';
                let opacity = '{{ webSettings.titlebackgroundopacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('.page-title').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function footerBackgroundColor() {
                let color = '{{ webFooter.properties.footerbackgroundcolor }}';
                let opacity = '{{ webFooter.properties.footerbackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('footer').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function footerTopBackgroundColor() {
                let color = '{{ webFooter.properties.footertopbackgroundcolor }}';
                let opacity = '{{ webFooter.properties.footertopbackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('.footer-top').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function footerMainBackgroundColor() {
                let color = '{{ webFooter.properties.footermainbackgroundcolor }}';
                let opacity = '{{ webFooter.properties.footermainbackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('.footer-main').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function footerBottomBackgroundColor() {
                let color = '{{ webFooter.properties.footerbottombackgroundcolor }}';
                let opacity = '{{ webFooter.properties.footerbottombackgroundcoloropacity }}';
                let r = parseInt(color.substr(1, 2), 16);
                let g = parseInt(color.substr(3, 2), 16);
                let b = parseInt(color.substr(5, 2), 16);
                $('.footer-bottom').css('background-color', 'rgb(' + r + ', ' + g + ', ' + b + ', ' + opacity + ')');
            }

            function mobileButtonColor() {
                let btnColor = '{{ webHeader.properties.generalmobilebuttoncolor }}';
                let btnOpacity = '{{ webHeader.properties.generalmobilebuttonopacity }}';
                let btnRed = parseInt(btnColor.substr(1, 2), 16);
                let btnGreen = parseInt(btnColor.substr(3, 2), 16);
                let btnBlue = parseInt(btnColor.substr(5, 2), 16);
                $('.navbar-toggler-icon').css('background-image', 'url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(' + btnRed + ',' + btnGreen + ',' + btnBlue + ', ' + btnOpacity + ')\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E")');

                let btnBorder = '{{ webHeader.properties.generalmobilebordercolor }}';
                let btnBorderOpacity = '{{ webHeader.properties.generalmobileborderopacity }}';
                let btnBorderRed = parseInt(btnBorder.substr(1, 2), 16);
                let btnBorderGreen = parseInt(btnBorder.substr(3, 2), 16);
                let btnBorderBlue = parseInt(btnBorder.substr(5, 2), 16);
                $('.navbar-toggler').css('border-color', 'rgba(' + btnBorderRed + ',' + btnBorderGreen + ',' + btnBorderBlue + ',' + btnBorderOpacity + ')');
            }

            function backgroundColor() {
                headerBackgroundColor();
                headerMainBackgroundColor();
                pageTitleBackgroundColor();
                footerBackgroundColor();
                footerTopBackgroundColor();
                footerMainBackgroundColor();
                footerBottomBackgroundColor();
                mobileButtonColor();
            }

            backgroundColor();

            {% if webHeader.properties.headerlayout == 1 %}
            {% if webHeader.properties.generalstickypaddingtopbody %}
            $('body').css('padding-top', $('header').outerHeight() + 'px');
            {% endif %}

            let lastScroll = 0;
            $(window).on('scroll', function () {
                let scroll = $(window).scrollTop();
                let vh = $(window).height();

                {% if webHeader.properties.headerlayout == 1 %}
                {% if webHeader.properties.generalstickyoverlap == false %}
                // SINGLE FLOATING HEADBOARDS
                if (scroll > 0) {
                    {% if webHeader.properties.generalstickyoverlap or webHeader.properties.headermainmakesticky %}
                    $('header').addClass('fixed-top');
                    {% else %}
                    {% if webHeader.properties.headermainmakesticky %}
                    $('.header-main').addClass('fixed-top').show();
                    $('header').css('min-height', $('.header-main').height() + 'px');
                    {% elseif webHeader.properties.generalstickyoverlap %}
                    $('.header-main').hide();
                    {% endif %}
                    {% endif %}
                } else {
                    $('header, .header-main')
                        .css('top', '')
                        .css('min-height', '')
                        .removeClass('fixed-top').show();
                }
                {% endif %}
                {% endif %}

                {% if webHeader.properties.generalstickyheadershadow %}
                // SHOW OVERFLOW IN THE FLOATING MENU
                if (scroll > 0) {
                    $('header').addClass('shadow-bottom-outside');
                } else {
                    $('header').removeClass('shadow-bottom-outside');
                }
                {% endif %}

                {% if webHeader.properties.generalstickyoverlap and webHeader.properties.generalstickyhidescrollingdown %}
                // HIDE AND SHOW MENU BY MOVING SCROLL
                if (scroll > lastScroll) {
                    // DOWN SCROLL
                    if (scroll >= ((vh * 20) / 100)) {
                        $('header').hide("slide", {direction: "up"}, 300);
                    } else {
                        $('header').show("slide", {direction: "up"}, 300);
                    }
                } else {
                    // UP SCROLL
                    $('header').show("slide", {direction: "up"}, 300);
                }

                lastScroll = scroll;
                {% endif %}
            });
            {% endif %}
        });
    </script>

    {% if fsc.contact is null and appSettings.get('webcreator', 'google-api', '') != '' %}
    <div id="g_id_onload"
         data-client_id="{{ appSettings.get('webcreator', 'google-api') }}"
         data-login_uri="{{ webUrl ~ asset('GoogleLogin') }}?return={{ fsc.canonicalUrl }}"
         data-your_own_param_1_to_login="any_value">
    </div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    {% endif %}

    {{ webMacros.includeView(webIncludes, 'javascriptFooterAfter', templateVars) }}

    {# Add global JS #}
    {{ fsc.pageComposer.regexJS(webSettings.globaljsfooter)|raw }}

    {# Add individual JS page #}
    {{ fsc.pageComposer.regexJS(webPage.pagejsfooter)|raw }}

{% endblock %}

    {{ debugBarRender.render()|raw }}

    {{ webMacros.includeView(webIncludes, 'bodyAfter', templateVars) }}
{% endblock %}
</body>
</html>