{% extends "WebCreator/Public/Login.html.twig" %}
{% import 'Macro/Forms.html.twig' as forms %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: #ebeeef;
        }

        .login-form {
            width: 100%;
            max-width: 600px;
        }

        .strike {
            display: block;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            padding: 20px;
        }

        .strike > span {
            position: relative;
            display: inline-block;
            color: gray;
        }

        .strike > span:before,
        .strike > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: silver;
        }

        .strike > span:before {
            right: 100%;
            margin-right: 15px;
        }

        .strike > span:after {
            left: 100%;
            margin-left: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="d-flex flex-column align-items-center justify-content-center w-100 vh-100">
        <div class="login-form">
            <h1 class="h3">{{ fsc.title|raw }}</h1>
            <div class="card shadow mb-5">
                {% set idregisterimage = appSettings.get('webcreator', 'idregisterimage', '') %}
                {% set imgRegister = idregisterimage != '' ? fsc.pageComposer.getAttachFile(idregisterimage) : 'Dinamic/Assets/Images/bg-login-1.jpg' %}
                <img src="{{ webSettings.siteurl ~ asset(imgRegister) }}" class="card-img-top" alt="login">
                <div class="card-body">
                    {% if appSettings.get('webcreator','google-api') %}
                        <div class="form-group row mb-0">
                            <div class="col-sm-9 offset-sm-3">
                                <div class="g_id_signin d-flex justify-content-center"
                                     data-size="large"
                                     data-width="1000"
                                     data-type="standard"
                                     data-theme="outline"
                                     data-text="sign_in_with"
                                     data-shape="rectangular"
                                     data-logo_alignment="center">
                                </div>
                                <div class="strike">
                                    <span>{{ i18n.trans('choose-method') }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <form action="{{ fsc.url() }}" method="post">
                        <input type="hidden" name="action" value="register"/>
                        <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('name') }}
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="name" class="form-control" id="inputName"
                                       value="{{ fsc.nameContact }}" placeholder="{{ i18n.trans('name') }}"
                                       maxlength="100" required autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('email') }}
                            </label>
                            <div class="col-sm-9">
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                       placeholder="{{ i18n.trans('email') }}" value="{{ fsc.emailContact }}"
                                       maxlength="100" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPasswd" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('password') }}
                            </label>
                            <div class="col-sm-9">
                                <input type="password" name="newpasswd" id="inputPasswd" class="form-control mb-3"
                                       placeholder="{{ i18n.trans('password') }}" maxlength="255" required>
                                <input type="password" name="newpasswd2" class="form-control"
                                       placeholder="{{ i18n.trans('repeat-password') }}" maxlength="255" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPhone" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('phone') }}
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="telefono1" class="form-control" id="inputPhone"
                                       value="{{ fsc.phoneContact }}" placeholder="{{ i18n.trans('phone') }}"
                                       maxlength="30">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCountry" class="col-sm-3 col-form-label text-sm-right">
                                {{ i18n.trans('country') }}
                            </label>
                            <div class="col-sm-9">
                                {{ forms.simpleSelect('codpais', 'codpais', fsc.countryContact,
                                    fsc.getSelectValues('paises', 'codpais', 'nombre', true)) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="okprivacy" id="agree_privacy">
                                    <label class="form-check-label" for="agree_privacy">
                                        {{ i18n.trans('i-accept-privacy-policy') }}
                                    </label>
                                    <a href="{{ fsc.pageComposer.getPagesDefault()['privacypage'] }}" target="_blank">
                                        {{ i18n.trans('read-more') }}
                                    </a>
                                </div>
                                <div class="mt-3 mb-3">
                                    {% include 'WebCreator/Master/Messages.html.twig' %}
                                </div>
                                <button type="submit" class="btn btn-block btn-primary mb-4">
                                    {{ i18n.trans('register-me') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/MeLogin" class="btn btn-block btn-link">{{ i18n.trans('login') }}</a>
                </div>
            </div>
            <p class="text-center mt-5">{{ webCopyright }}</p>
        </div>
    </main>
{% endblock %}