{#
/**
 * This file is part of WebCreator plugin for FacturaScripts
 * Copyright (C) 2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * @author Daniel Fernández Giménez <hola@danielfg.es>
 */
#}
{% import "WebCreator/Master/webMacros.html.twig" as webMacros %}

{% set currentView = fsc.getCurrentView() %}
{% set dataPage = currentView.model %}
{% set pages = fsc.getPages(dataPage.idpage) %}
{% set controllers = fsc.getControllers() %}
{% set images = fsc.getImages() %}
{% set headers = fsc.getHeaders() %}
{% set titles = fsc.getTitles() %}
{% set sidebars = fsc.getSidebars() %}
{% set footers = fsc.getFooters() %}
{% set webIncludes = fsc.includeView(currentView.getViewName()) %}
{% set templateVars = {
    'i18n': i18n,
    'appSettings': appSettings,
    'assetManager': assetManager,
    'controllerName': controllerName,
    'debugBarRender': debugBarRender,
    'fsc': fsc,
    'menuManager': menuManager,
    'template': currentView.getViewName(),
    'currentView': currentView} %}

<form id="formEditWebPage" method="post" enctype="multipart/form-data">
    {% if dataPage.idpage %}
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="code" value="{{ dataPage.idpage }}">
    {% else %}
        <input type="hidden" name="action" value="insert">
    {% endif %}

    <input type="hidden" name="type" value="{{ currentView.model.modelClassName() }}">
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}">
    <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills" id="myTab" role="tablist">
                            <li class="nav-item" role="content">
                                <a class="nav-link active" id="content-tab" data-toggle="tab" href="#tabcontent"
                                   role="tab" aria-controls="tabcontent" aria-selected="true">
                                    {{ i18n.trans('content') }}
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pagecss-tab" data-toggle="tab" href="#tabpagecss" role="tab"
                                   aria-controls="tabpagecss" aria-selected="false">
                                    {{ i18n.trans('page-css') }}
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pagejshead-tab" data-toggle="tab" href="#tabpagejshead"
                                   role="tab" aria-controls="tabpagejshead" aria-selected="false">
                                    {{ i18n.trans('javascript-head') }}
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pagejsfooter-tab" data-toggle="tab" href="#tabpagejsfooter"
                                   role="tab" aria-controls="tabpagejsfooter" aria-selected="false">
                                    {{ i18n.trans('javascript-footer') }}
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pagemeta-tab" data-toggle="tab" href="#tabpagemeta" role="tab"
                                   aria-controls="tabpagemeta" aria-selected="false">
                                    {{ i18n.trans('page-meta') }}
                                </a>
                            </li>

                            {{ webMacros.includeView(webIncludes, 'editPageTab', templateVars) }}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tabcontent" role="tabpanel"
                                 aria-labelledby="tabcontent-tab">
                                {% block content %}
                                    <div id="content" class="codemirror htmlEditor">
                                        <textarea class="d-none" name="content"></textarea>
                                        <code class="d-none">{{ dataPage.content }}</code>
                                    </div>

                                    {{ webMacros.includeView(webIncludes, 'editPageContent', templateVars) }}
                                {% endblock %}
                            </div>
                            <div class="tab-pane fade" id="tabpagecss" role="tabpanel" aria-labelledby="tabpagecss-tab">
                                {% block editPageCss %}
                                    <small class="form-text text-muted">{{ i18n.trans('page-css-help') }}</small>
                                    <div id="pagecss" class="codemirror cssEditor">
                                        <textarea class="d-none" name="pagecss"></textarea>
                                        <code class="d-none">{{ dataPage.pagecss }}</code>
                                    </div>

                                    {{ webMacros.includeView(webIncludes, 'editPageCss', templateVars) }}
                                {% endblock %}
                            </div>
                            <div class="tab-pane fade" id="tabpagejshead" role="tabpanel"
                                 aria-labelledby="tabpagejshead-tab">
                                {% block editPageJsHead %}
                                    <small class="form-text text-muted">{{ i18n.trans('javascript-head-help') }}</small>
                                    <div id="pagejshead" class="codemirror jsEditor">
                                        <textarea class="d-none" name="pagejshead"></textarea>
                                        <code class="d-none">{{ dataPage.pagejshead }}</code>
                                    </div>

                                    {{ webMacros.includeView(webIncludes, 'editPageJsHead', templateVars) }}
                                {% endblock %}
                            </div>
                            <div class="tab-pane fade" id="tabpagejsfooter" role="tabpanel"
                                 aria-labelledby="tabpagejsfooter-tab">
                                {% block editPageJsFooter %}
                                    <small class="form-text text-muted">{{ i18n.trans('javascript-footer-help') }}</small>
                                    <div id="pagejsfooter" class="codemirror jsEditor">
                                        <textarea class="d-none" name="pagejsfooter"></textarea>
                                        <code class="d-none">{{ dataPage.pagejsfooter }}</code>
                                    </div>

                                    {{ webMacros.includeView(webIncludes, 'editPageJsFooter', templateVars) }}
                                {% endblock %}
                            </div>
                            <div class="tab-pane fade" id="tabpagemeta" role="tabpanel"
                                 aria-labelledby="tabpagemeta-tab">
                                {% block editPageMeta %}
                                    <small class="form-text text-muted">{{ i18n.trans('page-meta-help') }}</small>
                                    <div id="pagemeta" class="codemirror htmlEditor">
                                        <textarea class="d-none" name="pagemeta"></textarea>
                                        <code class="d-none">{{ dataPage.pagemeta }}</code>
                                    </div>

                                    {{ webMacros.includeView(webIncludes, 'editPageMeta', templateVars) }}
                                {% endblock %}
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageTabContent', templateVars) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                {{ webMacros.includeView(webIncludes, 'editPageSidebarFirst', templateVars) }}

                <div class="card">
                    <div class="card-header">
                        {{ i18n.trans('general') }}
                    </div>
                    <div class="card-body">
                        {% block editPageGeneral %}
                            <div class="form-group pagetitle">
                                <label>{{ i18n.trans('page-title') }}</label>
                                <input type="text" class="form-control" name="title" maxlength="60"
                                       value="{{ dataPage.title }}" required>
                            </div>

                            <div class="form-group pagepermalink">
                                <label>{{ i18n.trans('permalink') }}</label>
                                {% set link = dataPage.permalink|split('/') %}
                                <input type="text" class="form-control" name="permalink" value="{{ link|last }}"
                                       required>
                                {% if dataPage.idpage is not empty %}
                                    <a target="_blank" href="{{ fsc.getSiteUrl() ~ dataPage.permalink }}">
                                        {{ fsc.getSiteUrl() ~ dataPage.permalink }}</a>
                                {% endif %}
                            </div>

                            <div class="form-group pagedescription">
                                <label>{{ i18n.trans('description') }}</label>
                                <textarea class="form-control" name="description"
                                          maxlength="150">{{ dataPage.description }}</textarea>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageGeneral', templateVars) }}
                        {% endblock %}

                        <hr class="pageseparate"/>

                        <div>
                            <div>{{ i18n.trans('creation-date') }}: {{ dataPage.creationdate }}</div>
                            <div>{{ i18n.trans('updated-date') }}: {{ dataPage.lastmod }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {% if dataPage.idpage != '' %}
                                    <button type="button" class="btn btn-sm btn-danger"
                                            onclick="editViewDelete('EditWebPage');">
                                        <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">{{ i18n.trans('delete') }}</span>
                                    </button>
                                {% endif %}
                            </div>

                            <div class="col-12 col-md-6 text-right">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fas fa-save fa-fw" aria-hidden="true"></i>
                                    <span class="d-none d-sm-inline-block">{{ i18n.trans('save') }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarAdvancedBefore', templateVars) }}

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('advanced') }}
                    </div>
                    <div class="card-body">
                        {% block editPageAdvanced %}
                            <div class="form-group form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="noindex" name="noindex"
                                       value="1" {{ (dataPage.noindex) ? 'checked' : '' }}>
                                <label class="form-check-label" for="noindex">{{ i18n.trans('no-index') }}</label>
                            </div>

                            <div class="form-group">
                                <label>{{ i18n.trans('css-id') }}</label>
                                <input type="text" class="form-control" maxlength="200" name="cssid"
                                       value="{{ dataPage.cssid }}">
                            </div>

                            <div class="form-group mt-2">
                                <label>{{ i18n.trans('css-class') }}</label>
                                <input type="text" class="form-control" maxlength="200" name="cssclass"
                                       value="{{ dataPage.cssclass }}">
                            </div>

                            <div class="form-group">
                                <label>{{ i18n.trans('page-width') }}</label>
                                <select class="form-control" name="pagewidth">
                                    <option value="-1" {{ (dataPage.pagewidth == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                                    <option value=" " {{ (dataPage.pagewidth == ' ') ? 'selected' : '' }}>{{ i18n.trans('none') }}</option>
                                    <option value="container" {{ (dataPage.pagewidth == 'container') ? 'selected' : '' }}>
                                        Container
                                    </option>
                                    <option value="container-sm" {{ (dataPage.pagewidth == 'container-sm') ? 'selected' : '' }}>
                                        Container sm
                                    </option>
                                    <option value="container-md" {{ (dataPage.pagewidth == 'container-md') ? 'selected' : '' }}>
                                        Container md
                                    </option>
                                    <option value="container-lg" {{ (dataPage.pagewidth == 'container-lg') ? 'selected' : '' }}>
                                        Container lg
                                    </option>
                                    <option value="container-fluid" {{ (dataPage.pagewidth == 'container-fluid') ? 'selected' : '' }}>
                                        Container fluid
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>{{ i18n.trans('image-default') }}</label>
                                <select class="form-control" name="idimage">
                                    {% for image in images %}
                                        {% set check = (dataPage.idimage == image.code) ? 'selected' : '' %}
                                        <option value="{{ image.code }}" {{ check }}>{{ image.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                {% if dataPage.pageparent is not empty %}
                                    <label><a href="{{ asset('EditWebPage') }}?code={{ dataPage.pageparent }}">{{ i18n.trans('page-parent') }}</a></label>
                                    <a href="{{ dataPage.getParent().url('public') }}" target="_blank" class="float-right"><i class="fas fa-eye"></i></a>
                                {% else %}
                                    <label>{{ i18n.trans('page-parent') }}</label>
                                {% endif %}
                                <select class="form-control" name="pageparent">
                                    <option value="">-----</option>
                                    {% for page in pages %}
                                        {% set check = (dataPage.pageparent == page.idpage) ? 'selected' : '' %}
                                        <option value="{{ page.idpage }}" {{ check }}>{{ page.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>{{ i18n.trans('custom-controller') }}</label>
                                <select class="form-control" name="customcontroller">
                                    <option value="">-----</option>
                                    {% for controller in controllers %}
                                        {% set check = (dataPage.customcontroller == controller.name) ? 'selected' : '' %}
                                        <option value="{{ controller.name }}" {{ check }}>{{ controller.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageAdvanced', templateVars) }}
                        {% endblock %}
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarHeaderBefore', templateVars) }}

                <div class="card mt-4">
                    <div class="card-header">
                        {% if dataPage.idheader > 0 %}
                            <a href="{{ asset('EditWebHeader') }}?code={{ dataPage.idheader }}">{{ i18n.trans('page-custom-head') }}</a>
                        {% else %}
                            {{ i18n.trans('page-custom-head') }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% block editPageHeader %}
                            <div class="form-group">
                                <select class="form-control" name="idheader">
                                    <option value="-2" {{ (dataPage.idheader == '-2') ? 'selected' : '' }}>{{ i18n.trans('inherit-parent') }}</option>
                                    <option value="-1" {{ (dataPage.idpage is empty or dataPage.idheader == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit-global') }}</option>
                                    <option value="0" {{ (dataPage.idheader == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                    {% for header in headers %}
                                        {% set check = (dataPage.idheader == header.idheader) ? 'selected' : '' %}
                                        <option value="{{ header.idheader }}" {{ check }}>{{ header.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageHeader', templateVars) }}
                        {% endblock %}
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarTitleBefore', templateVars) }}

                <div class="card mt-4">
                    <div class="card-header">
                        {% if dataPage.idtitle > 0 %}
                            <a href="{{ asset('EditWebTitle') }}?code={{ dataPage.idtitle }}">{{ i18n.trans('page-custom-title') }}</a>
                        {% else %}
                            {{ i18n.trans('page-custom-title') }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% block editPageTitle %}
                            <div class="form-group">
                                <select class="form-control" name="idtitle">
                                    <option value="-2" {{ (dataPage.idtitle == '-2') ? 'selected' : '' }}>{{ i18n.trans('inherit-parent') }}</option>
                                    <option value="-1" {{ (dataPage.idpage is empty or dataPage.idtitle == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit-global') }}</option>
                                    <option value="0" {{ (dataPage.idtitle == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                    {% for title in titles %}
                                        {% set check = (dataPage.idtitle == title.idtitle) ? 'selected' : '' %}
                                        <option value="{{ title.idtitle }}" {{ check }}>{{ title.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageTitle', templateVars) }}
                        {% endblock %}
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarSidebarBefore', templateVars) }}

                <div class="card mt-4">
                    <div class="card-header">
                        {% if dataPage.idheader > 0 %}
                            <a href="{{ asset('EditWebSidebar') }}?code={{ dataPage.idsidebar }}">{{ i18n.trans('page-custom-sidebar') }}</a>
                        {% else %}
                            {{ i18n.trans('page-custom-sidebar') }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% block editPageSidebar %}
                            <div class="form-group">
                                <select class="form-control" name="idsidebar">
                                    <option value="-2" {{ (dataPage.idsidebar == '-2') ? 'selected' : '' }}>{{ i18n.trans('inherit-parent') }}</option>
                                    <option value="-1" {{ (dataPage.idpage is empty or dataPage.idsidebar == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit-global') }}</option>
                                    <option value="0" {{ (dataPage.idsidebar == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                    {% for sidebar in sidebars %}
                                        {% set check = (dataPage.idsidebar == sidebar.idsidebar) ? 'selected' : '' %}
                                        <option value="{{ sidebar.idsidebar }}" {{ check }}>{{ sidebar.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group" id="sidebarposition">
                                <small>{{ i18n.trans('location') }}</small>
                                <select class="form-control" name="sidebarposition">
                                    <option value="1" {{ (dataPage.sidebarposition == '1') ? 'selected' : '' }}>{{ i18n.trans('left') }}</option>
                                    <option value="2" {{ (dataPage.sidebarposition == '2') ? 'selected' : '' }}>{{ i18n.trans('right') }}</option>
                                </select>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageSidebar', templateVars) }}
                        {% endblock %}
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarFooterBefore', templateVars) }}

                <div class="card mt-4">
                    <div class="card-header">
                        {% if dataPage.idheader > 0 %}
                            <a href="{{ asset('EditWebFooter') }}?code={{ dataPage.idfooter }}">{{ i18n.trans('page-custom-footer') }}</a>
                        {% else %}
                            {{ i18n.trans('page-custom-footer') }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% block editPageFooter %}
                            <div class="form-group">
                                <select class="form-control" name="idfooter">
                                    <option value="-2" {{ (dataPage.idfooter == '-2') ? 'selected' : '' }}>{{ i18n.trans('inherit-parent') }}</option>
                                    <option value="-1" {{ (dataPage.idpage is empty or dataPage.idfooter == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit-global') }}</option>
                                    <option value="0" {{ (dataPage.idfooter == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                    {% for footer in footers %}
                                        {% set check = (dataPage.idfooter == footer.idfooter) ? 'selected' : '' %}
                                        <option value="{{ footer.idfooter }}" {{ check }}>{{ footer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ webMacros.includeView(webIncludes, 'editPageFooter', templateVars) }}
                        {% endblock %}
                    </div>
                </div>

                {{ webMacros.includeView(webIncludes, 'editPageSidebarLast', templateVars) }}
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script>
    function editViewDelete(viewName) {
    bootbox.confirm({
        title: "{{ i18n.trans('confirm-delete') }}",
            message: "{{ i18n.trans('are-you-sure') }}",
            closeButton: false,
            buttons: {
                cancel: {
                    label: '<i class="fas fa-times"></i> {{ i18n.trans('cancel') }}'
                },
                confirm: {
                    label: '<i class="fas fa-check"></i> {{ i18n.trans('confirm') }}',
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {
                    $("#form" + viewName + " :input[name=\"action\"]").val("delete");
                    $("#form" + viewName).submit();
                }
            }
        });
        return false;
    }

    function changeSidebar() {
        if ($('select[name="idsidebar"] option:selected').val() > 0) {
            $('#sidebarposition').show();
        } else {
            $('#sidebarposition').hide();
        }
    }

    $('select[name="idsidebar"]').on('change', function(){
        changeSidebar();
    });

    changeSidebar();
</script>
{{ webMacros.includeView(webIncludes, 'editPageJavascript', templateVars) }}
{% endblock %}