{#
/**
 * This file is part of WebCreator plugin for FacturaScripts
 * Copyright (C) 2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * @author Daniel Fernández Giménez <hola@danielfg.es>
 */
#}

<div id="messages" style="z-index: 9999; position: absolute; bottom: 25px; right: 25px;"></div>

<script>
    function setToast(message, style = '', title = '', time = 10000, empty = false) {
        if (empty) {
            $('#messages').html('');
        }

        let styleHeader = '';
        let styleBorder = '';
        let icon = '';

        switch (style) {
            case 'success':
                styleHeader = 'bg-success text-white';
                styleBorder = 'border border-success';
                icon = '<i class="fas fa-check-circle mr-1"></i>';
                title = title !== '' ? title : '{{ i18n.customTrans(fsc.webPage.filelang, 'success') }}';
                break;

            case 'info':
                styleHeader = 'bg-info text-white';
                styleBorder = 'border border-info';
                icon = '<i class="fas fa-info-circle mr-1"></i>';
                title = title !== '' ? title : '{{ i18n.customTrans(fsc.webPage.filelang, 'info') }}';
                break;

            case 'warning':
                styleHeader = 'bg-warning';
                styleBorder = 'border border-warning';
                icon = '<i class="fas fa-exclamation-circle mr-1"></i>';
                title = title !== '' ? title : '{{ i18n.customTrans(fsc.webPage.filelang, 'warning') }}';
                break;

            case 'danger':
                styleHeader = 'bg-danger text-white';
                styleBorder = 'border border-danger';
                icon = '<i class="fas fa-times-circle mr-1"></i>';
                title = title !== '' ? title : '{{ i18n.customTrans(fsc.webPage.filelang, 'common-error') }}';
                break;
        }

        let html = '<div class="toast ' + styleBorder + '" role="alert" aria-live="assertive" aria-atomic="true" data-delay="' + time + '">'
            + '<div class="toast-header ' + styleHeader + '">'
            + '<strong class="mr-auto">' + icon + title + '</strong>'
            + '<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="{{ i18n.trans('close') }}">'
            + '<span aria-hidden="true">&times;</span>'
            + '</button>'
            + '</div>'
            + '<div class="toast-body">'
            + message
            + '</div>'
            + '</div>';

        $('#messages').append(html);
        $('.toast').toast('show');
    }
</script>

{{ _self.showMessage(log, ['error', 'critical'], 'danger') }}
{{ _self.showMessage(log, ['warning'], 'warning') }}
{{ _self.showMessage(log, ['notice'], 'success') }}
{{ _self.showMessage(log, ['info'], 'info') }}

{% macro showMessage(log, levels, style) %}
    {% set messages = log.read('master', levels) | merge(log.read('database', levels)) %}
    {% if messages | length > 0 %}
        {% for item in messages %}
            <script>
                setToast('{{ item.message | raw }}', '{{ style }}');
            </script>
        {% endfor %}
    {% endif %}
{% endmacro %}